<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      iframe {
        display: block;
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <iframe
      sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
      src="<%= src %>"
    ></iframe>
  </body>
</html>
